@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #04853a;
  border-radius: 100px;
}

.nav-scrolled {
  background-color: black !important;
  color: #fff !important;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1) !important;
  height: 3.9rem;
  width: 100% !important;
  -webkit-transition: 0.2s ease-in-out !important;
  transition: 0.2s ease-in-out !important;
}

.nav-scrolled .navbar a {
  color: white !important;
}
