@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #04853a;
  border-radius: 100px;
}
